.psc_icon {
    width: 26px;
    background: url(/bundles/syncrasypimcoresalesforce/img/cloud-24-1.svg) center center no-repeat !important;
}
.psc_icon_header {
    width: 26px !important;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/bundles/syncrasypimcoresalesforce/img/cloud-24-1.svg) center center no-repeat !important;
}